<header class="row">
    <nav class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
            <li><a [routerLink]="['']">Managed Users</a></li>
            <li><a [routerLink]="['/auth']">Authentication</a></li>
        </ul>
    </nav>
</header>