


<header class="row spacing">
    <nav class="col-md-8 col-md-offset-2">
        <ul class="nav nav-tabs">
            <li><a [routerLink]="['./signup']" *ngIf="!isSignedIn()">Signup</a></li>
            <li><a [routerLink]="['./signin']" *ngIf="!isSignedIn()">Signin</a></li>
            <li><a [routerLink]="['./signout']" *ngIf="isSignedIn()">Signout</a></li>
        </ul>
    </nav>
</header>
 <div class="row spacing">
     <router-outlet></router-outlet>
 </div>