<section class="col-md-8 col-md-offset-2">

    <form (ngFormModel)="myForm" (ngSubmit)="onSubmit()" >
 
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [ngFormControl]="myForm.find('email')">
        </div>

        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [ngFormControl]="myForm.find('password')">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!myForm.valid">Sign In</button>
    </form>
</section>