<article class="panel panel-default" *ngIf="show" >
    <div class="panel-heading ">
        &nbsp;
        <div class="pull-right">
            <div *ngIf='isSignedIn()'> 
                <a (click)="onDeleteClick()" data-dismiss="alert" class="close">&times; </a>
            </div>
        </div>

    </div>
    <div class="panel-body"> 
            <p>{{manageduser.firstName}} {{manageduser.lastName}}</p>
            <p >
            {{manageduser.addressCity}} {{manageduser.addressState}} 
            </p>
            <small>{{manageduser.email}} </small>
        
    </div>
    <footer class="panel-footer"> 
        <div class="config">
            <div *ngIf='isSignedIn()'> 
                <a (click)="onEditClick()">Edit</a>
                <a (click)="onDeleteClick()">Delete</a>
            </div>
        </div>
    </footer>
</article>