   <section class="col-md-8 col-md-offset-2"> 

        <form (ngSubmit)="onSubmitContent(f.value)" #f="ngForm">
            <section class="form-group">
                <label for="email">Email</label>
                <input ngControl="email" class="form-control" 
                    type="text" 
                    id="email"    
                    [ngModel]="manageduser?.email"/>
            </section>

            <section class="form-group">
                <label for="firstName">First Name</label>
                <input ngControl="firstName" type="text" class="form-control" id="firstName" [ngModel]="manageduser?.firstName">
            </section>
            
            <section class="form-group">
                <label for="lastName">Last Name</label>
                <input ngControl="lastName" type="text" class="form-control" id="lastName" [ngModel]="manageduser?.lastName">
            </section>

            <section class="form-group">
                <label for="addressLine1">Address Line 1</label>
                <input ngControl="addressLine1" type="text" class="form-control" id="addressLine1" [ngModel]="manageduser?.addressLine1">
            </section>
            
            <section class="form-group">
                <label for="addressLine2">Address Line 2</label>
                <input ngControl="addressLine2" type="text" class="form-control" id="addressLine2" [ngModel]="manageduser?.addressLine2">
            </section>

            <section class="form-group">
                <label for="addressCity">City</label>
                <input ngControl="addressCity" type="text" class="form-control" id="addressCity" [ngModel]="manageduser?.addressCity">
            </section>
            
            <section class="form-group">
                <label for="addressState">State</label>
                <input ngControl="addressState" type="text" class="form-control" id="addressState" [ngModel]="manageduser?.addressState">
            </section>

            
            <section class="form-group">
                <label for="addressZip">Zip Code</label>
                <input ngControl="addressZip" type="text" class="form-control" id="addressZip" [ngModel]="manageduser?.addressZip">
            </section>

            <button type="submit" class="btn btn-success"  >{{ !manageduser ? 'Create' : 'Save' }}</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()" *ngIf="manageduser" >Cancel</button>
        </form>


    </section>