        .author
        {
             display: inline-block;
            text-decoration:  italic;
            font-size: 12px;
            width: 80%;


        }

        .config
        {
            display: inline-block;
            text-align: right;
            font-size: 12px;
            width: 19%;

        }