

    <section class="col-md-8 col-md-offset-2">
        <app-manageduser  *ngFor="let mu of managedusers" 
            [cmManagedUser]="mu" 
            (cmEditClicked)="itemEdit($event)" 
            (cmDeleteClicked)="itemDelete($event)"></app-manageduser>
    </section>

