<div class="row spacing">
    <app-manageduser-form (cmNewManagedUserCreated)="HandleNewManagedUser($event)"></app-manageduser-form>
</div>
<div class="row spacing">
    <app-manageduser-list></app-manageduser-list>
</div> 